<%= provide(:title, @micropost.name) %>
<div class="profile-header">
  <%= gravatar_for(@user) %>
  <div class='user-info'>
    <h1><%= @user.name %></h1>
    <h4><%= @user.email %></h4>
    <p>Admin: <%= @user.admin %></p>
  </div>
</div>
