<%= provide(:title, @user.name) %>
<div class="profile-header">
  <%= gravatar_for(@user) %>
  <div class='user-info'>
    <h1><%= @user.name %></h1>
    <h4><%= @user.email %></h4>
    <p>Admin: <%= @user.admin %></p>
  </div>
</div>

<div class='posts'>
    <% if @user.microposts.any? %>
      <h3></a>Microposts (<%= @user.microposts.count %>)</h3>
      <ol class="microposts">
        <%= render @microposts %>
      </ol>
      <%= will_paginate @microposts %>
    <% end %>
  </div>
